p {
  line-height: 1.8;
  margin: 2em 0em 2em 0em;
}

.alert {
  max-width: 100% !important;
  width: 100%;
  background-color: #ffc505;
}

.alert-content {
  margin: 1em 2em;
}

.alert > button {
  position: absolute;
  top: 1em;
  right: 0.25em;
  background: none;
  border: none;
}
