{% import 'macros.html.j2' as macros %}

{% extends "base_template.html.j2" %}
{% block content %}

<h1 id="summary">{{ body['content']['title'] }}</h1>
{{ body['content']['details'] | safe }}
<h2 id="functions">Calculation</h2>
{% for method in body['content']['functions'] %}
  <h3 id="{{ prefix }}-{{ method['name'] }}" class="method-head"><span><code>{{ method['name'] }}</code></span></h3>
  {{ macros.function_display(method, type2href, type2class, gen_path, prefix='definitions-' + method['name'], is_example_folding=false) }}
{% endfor %}

{% endblock %}
