{% macro tooltip_display(name, desc='', prefix='') %}
<span aria-describedby="{{ prefix }}-tooltip">{{ name }}</span>
<div class="tooltip-context"><svg width="12" height="12" viewBox="0 0 12 12" tabindex="0" role="img"
    aria-labelledby="{{ prefix }}-tooltip-qm-label">
    <title id="{{ prefix }}-tooltip-qm-label">{{ desc }}</title>
    <use href="/assets/icons/12-tooltip.svg#icon"></use>
  </svg>
  <div role="tooltip" id="{{ prefix }}-tooltip" tabindex="-1">{{ desc }}</div>
</div>
{% endmacro %}

{% macro function_definition_display(function, type2href, type2class, gen_path, prefix='') %}
<div class="code code-definition {{ 'single-arg' if function['params'].__len__() <= 1 else '' }}">{% if function['self'] %}self.{% else %}{{ gen_path(function) }}{% endif %}<span
    class="typ-func">{{ function['name'] }}</span>(<div class="arguments">{% for param in function['params'] %}<span
      class="overview-param">{% if not param['positional'] %}<a href="#parameters-{{ param['name'] }}">{{ param['name']
        }}<!-- -->: </a>{% endif %}{%
      for t in param['types'] %}{% set href = type2href(t) %}{% if href %}<a href="/docs/reference/{{ type2href(t) }}" class="pill {{ type2class(t) }}">{{ t }}</a>{% else %}<span class="pill {{ type2class(t) }}">{{ t }}</span>{% endif %}{% endfor %}{{',' if
      function['params'].__len__() > 1 else '' }} </span>{% endfor %}</div>) {% if function['returns'] %}<!-- -->-&gt; {% for ret in function['returns']
  %}{% set href = type2href(ret) %}{% if href %}<a href="/docs/reference/{{ type2href(ret) }}" class="pill {{ type2class(ret) }}">{{ ret }}</a>{% else %}<span class="pill {{ type2class(ret) }}">{{ ret }}</span>{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</div>
{% endmacro %}

{% macro function_params_display(function, type2href, type2class, gen_path, prefix='') %}
{% for param in function['params'] %}
<h4 id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}"><code>{{ param['name'] }}</code>
  <div class="additional-info">
    <div>
      {% for t in param['types'] %}
        {% set href = type2href(t) %}
        {% if href %}
          <a href="/docs/reference/{{ href }}" class="pill {{ type2class(t) }}">{{ t }}</a>
        {% else %}
          <span class="pill {{ type2class(t) }}">{{ t }}</span>
        {% endif %}
      {% endfor %}
    </div>
    {% if param['required'] %}<small>Required</small>{% endif %}{% if param['positional'] %}<small><span
        aria-describedby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-positional-tooltip">Positional</span>
      <div class="tooltip-context"><svg width="12" height="12" viewBox="0 0 12 12" tabindex="0" role="img"
          aria-labelledby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-positional-tooltip-qm-label">
          <title id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-positional-tooltip-qm-label">
            Positional parameters are specified in order, without names.</title>
          <use href="/assets/icons/12-tooltip.svg#icon"></use>
        </svg>
        <div role="tooltip" id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-positional-tooltip"
          tabindex="-1">Positional parameters are specified in order, without names.</div>
      </div>
    </small>{% endif %}{% if param['variadic'] %}<small><span
        aria-describedby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-variadic-tooltip">Variadic</span>
      <div class="tooltip-context"><svg width="12" height="12" viewBox="0 0 12 12" tabindex="0" role="img"
          aria-labelledby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-variadic-tooltip-qm-label">
          <title id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-variadic-tooltip-qm-label">Variadic parameters can be specified multiple times.
          </title>
          <use href="/assets/icons/12-tooltip.svg#icon"></use>
        </svg>
        <div role="tooltip" id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-variadic-tooltip"
          tabindex="-1">Variadic parameters can be specified multiple times.</div>
      </div>
    </small>{% endif %}{% if param['settable'] %}<small><span
        aria-describedby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-settable-tooltip">Settable</span>
      <div class="tooltip-context"><svg width="12" height="12" viewBox="0 0 12 12" tabindex="0" role="img"
          aria-labelledby="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-settable-tooltip-qm-label">
          <title id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-settable-tooltip-qm-label">Settable parameters can be customized for all following uses of the function with a <code>set</code> rule.</title>
          <use href="/assets/icons/12-tooltip.svg#icon"></use>
        </svg>
        <div role="tooltip" id="{{ prefix }}-{{ function['name'] }}-parameters-{{ param['name'] }}-settable-tooltip"
          tabindex="-1">Settable parameters can be customized for all following uses of the function with a <code>set</code> rule.</div>
      </div>
    </small>{% endif %}
  </div>
</h4>
{{ param['details'] }}
{% if param['strings'] %}
<ul class="type-args">
  {% for string in param['strings'] %}
  <li>
    <div class="break-box">
      <div><code class="typ-str">&quot;<!-- -->{{ string['string'] | safe }}<!-- -->&quot;</code></div>
      <div>
        {{ string['details'] | safe }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% if param['default'] %}
<p>Default:{{ param['default'] | safe }}</p>
{% endif %}
{% if param['example'] %}
<details class="folding-example">
  <summary><img src="/assets/icons/16-arrow-right.svg" alt="" width="16" height="16">View example</summary>
  <div class="folding">
    {{ param['example'] | safe }}
  </div>
</details>
{% endif %}
{% endfor %}
{% endmacro %}

{% macro function_display(function, type2href, type2class, gen_path, prefix='', is_example_folding=true) %}
{{ function['details'] | safe }}
{{ function_definition_display(function, type2href, type2class, gen_path, prefix) }}
{% if function['example'] and is_example_folding %}
  <details class="folding-example">
    <summary><img src="/assets/icons/16-arrow-right.svg" alt="" width="16" height="16">View example</summary>
    <div class="folding">
    {{ function['example'] | safe }}
    </div>
  </details>
{% endif %}
{% if function['example'] and not is_example_folding %}
  {{ function['example'] | safe }}
{% endif %}
{{ function_params_display(function, type2href, type2class, gen_path, prefix) }}
{% endmacro %}
